<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eSign Support - User Tools</title>
    <!--Icons for the browser-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-16x16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-96x96.png') }}" sizes="96x96">
    <!--My CSS Doc-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- My JS Doc-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <!--Home/Site Banner-->
    <div class="container-fluid home-title-rectangle">
        <img class="align-middle optum-logo-ora-rgb"
            src="{{ url_for('static', filename='img/Optum-logo-ora-RGB.png') }}" alt="Optum Logo"></img>
        <span class="align-middle home-title-text">eSignature Support Portal</span>
    </div>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='img/favicon-32x32.png') }}" alt="" width="24" height="24"
                    class="d-inline-block align-text-top">
                Home
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/open-ticket">Open Ticket</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/request-access">Request Access</a>
                    </li>
                    <li>
                        <a class="nav-link active" href="/find-admin">Tools</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Bread Crumbs -->
    <div class="container-fluid ml-1">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb mt-1">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tools</li>
            </ol>
        </nav>
    </div>
    <!-- Site content Nav-->
    <div class="card text-center mx-5">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    {% block nav01 %}{% endblock %}
                </li>
                <li class="nav-item">
                    {% block nav02 %}{% endblock %}
                </li>
                <li class="nav-item">
                    {% block nav03 %}{% endblock %}
                </li>
            </ul>
        </div>
        <div class="card-body">
            <main>
                {% block main %}{% endblock %}
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>