{% extends 'client/templates/public_template.html' %}
<!-- This Jinja syntax extends my html template to this html file  -->

<!-- Site Title -->
{% block title %}eSign Support - Home{% endblock %}

<!-- Site Top Nav Bar  -->
{% block nav1 %}<a class="nav-link" href="/open-ticket">Open Ticket</a>{% endblock %}
{% block nav2 %}<a class="nav-link" href="/request-access">Request Access</a>{% endblock %}
{% block nav3 %}<a class="nav-link" href="/find-admin">Tools</a>{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row ms-5 mb-3">
        <div class="col">
            <div class="mb-3 mt-3">
                <img class="me-2" src="{{ url_for('static', filename='img/Adobe_PROD_logo.svg') }}"
                    alt="Acrobat Sign Logo" style="width:3vw">
                <span style="vertical-align: middle; font-size: 250%; font-weight: bold; font-size:2vw;">Adobe Acrobat
                    Sign</span>
            </div>
            <div align="center">
                <p class="mb-0 pb-0" style="font-family: 'Trebuchet MS', sans-serif; font-size:3vw; font-weight: bold;">
                    Collect Signatures</p>
                <p style="font-family: 'Trebuchet MS', sans-serif; font-size:3vw; font-weight: bold;">on Documents
                    Today!</p>
                <p class="my-3" style="color:rgb(180, 139, 255); font-size:1vw;"><strong>eSignature is a method of
                        collecting
                        a signature(s) on a
                        document through electronic means, rather than
                        physically sending & signing paper.
                        To electronically sign a document, a signer navigates to a secure website and completes a series
                        of
                        acknowledgements meant to verify their identity and intent to sign the document(s).</strong>
                </p>
            </div>
            <div align="center">
                <!-- Button trigger Acrobat Links modal -->
                <button type="button" class="btn btn-outline-primary mt-3 mx-3" data-bs-toggle="modal"
                    data-bs-target="#esignLinksModal">
                    Adobe Acrobat Sign
                </button>
                <!-- Acrobat Links Modal -->
                <div class="modal fade" id="esignLinksModal" tabindex="-1" aria-labelledby="esignLinksModal"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Acrobat Sign Links</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <a target="_blank" href="https://unitedhg.na3.adobesign.com/account/homeJS"
                                    style="text-decoration: none; color: inherit;">
                                    <div class="card border-primary text-center mb-3">
                                        <div class="card-header overflow-hidden p-0"
                                            style="background-color: rgba(219,223,254)">
                                            <img class="w-75"
                                                src="{{ url_for('static', filename='img/production_tile.svg') }}"
                                                alt="Acrobat Sign Production Link">
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title mb-2">Acrobat Sign Production</h4>
                                            <p class="card-text my-auto">
                                                <srrong>Start using Adobe Acrobat Sign at work!
                                                </srrong>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <a target="_blank" href="https://na1.documentssandbox.adobe.com/account/homeJS"
                                    style="text-decoration: none; color: inherit;">
                                    <div class="card border-primary text-center mb-3">
                                        <div class="card-header overflow-hidden p-0"
                                            style="background-color: rgba(219,223,254)">
                                            <img class="w-75"
                                                src="{{ url_for('static', filename='img/sandbox_tile.svg') }}"
                                                alt="Acrobat Sign Sandbox Link">
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title mb-2">Acrobat Sign Sandbox</h4>
                                            <p class="card-text my-auto">
                                                <srrong>Test Adobe Acrobat Sign workflows and functionality in a
                                                    non-produciton environment!
                                                </srrong>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Button trigger Acrobat Training modal -->
                <button type="button" class="btn btn-outline-warning mt-3 mx-3" data-bs-toggle="modal"
                    data-bs-target="#trainingModal">
                    Training Material
                </button>

                <!-- Acrobat Training Modal -->
                <div class="modal fade" id="trainingModal" tabindex="-1" aria-labelledby="trainingModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Acrobat Sign Training Material</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" align="left">
                                <a target="_blank" href="https://helpx.adobe.com/sign/using/get-started-guide.html"
                                    style="text-decoration: none; color: inherit;">
                                    <div class="card text-center w-75 mb-3">
                                        <div class="card-header" style="background-color: rgba(219,223,254)">
                                            <img src="{{ url_for('static', filename='img/study.svg') }}"
                                                style="width:125px;height:125px;" alt="Beginners Guide Logo">
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title mb-2">Beginners Guide</h4>
                                            <p class="card-text mb-3">
                                                <srrong>Get Started Using Adobe Acrobat Sign</srrong>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <a target="_blank" href="https://helpx.adobe.com/sign/tutorials.html"
                                    style="text-decoration: none; color: inherit;">
                                    <div class="card text-center w-75">
                                        <div class="card-header" style="background-color: rgba(219,223,254)">
                                            <img src="{{ url_for('static', filename='img/grad-cap.svg') }}"
                                                style="width:125px;height:125px;" alt="Beginners Guide Logo">
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title mb-2">Tutorials</h4>
                                            <p class="card-text mb-3">
                                                <srrong>Find Tutorials From Novice to Expert to Help You Expand Your
                                                    Skills</srrong>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col h-100">
            <img class="w-100" style="min-width: 600px;" src="{{ url_for('static', filename='img/esign.svg') }}"
                alt="eSignature Visual">
        </div>
    </div>
</div>
{% endblock %}