{% extends 'client/templates/public_template.html' %}
<!-- This Jinja syntax extends my html template to this html file  -->

<!-- Site Title -->
{% block title %}eSign Support - Open a ticket{% endblock %}

<!-- Site Top Nav Bar  -->
{% block nav1 %}<a class="nav-link active" href="/open-ticket">Open Ticket</a>{% endblock %}
{% block nav2 %}<a class="nav-link" href="/request-access">Request Access</a>{% endblock %}
{% block nav3 %}<a class="nav-link" href="/find-admin">Tools</a>{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Open a Ticket</li>
{% endblock %}

{% block main %}
<h1 class="ms-3">Open a Ticket</h1>
<hr class="text center mx-3">
<div class="col mx-3">
    <div class="card border-info h-100">
        <div class="card-header" align="left">
            Incident/Service Request
        </div>
        <div class="card-body">
            <h5 class="card-title">Having Trouble with Acrobat Sign?</h5>
            <p class="card-text">If you are running into an issue with Adobe Acrobat Sign or need assistance from the
                eSignature Support Team, please submit a ticket.</p>
            <a target="_blank" href="https://atlas.uhg.com/contactLanding/openTicket#" class="btn btn-primary">Create a
                Ticket</a>
        </div>
    </div>
</div>
<div class="col mx-3">
    <div class="card border-info h-100">
        <div class="card-header" align="left">
            New Business Intake Request
        </div>
        <div class="card-body">
            <h5 class="card-title">Need eSignature For Your Business?</h5>
            <p class="card-text">If your business does not have a group setup in Adobe Acrobat Sign and you are
                interested in creating one, please create an intake request in ServiceNow. You will need to
                follow the below steps:</p>
            <ul>
                <li>Select "New Business/Need" from "Select an eSignature Request Type".</li>
                <li>Fill out remaining questions specific to your business's eSignature needs.</li>
                <li>Click Submit.</li>
            </ul>
            <a target="_blank"
                href="https://optum.service-now.com/euts_intake?id=euts_sc_cat_item_form&sys_id=bba6b983db0abf4098e940ceaa961975&sysparm_category=f83bba03db83ff40a937ee82ca961905"
                class="btn btn-primary">Create a Ticket</a>
        </div>
    </div>
</div>
<div class="col mx-3">
    <div class="card border-info h-100">
        <div class="card-header" align="left">
            Enhancement Request
        </div>
        <div class="card-body">
            <h5 class="card-title">Is Adobe Acrobat Sign Missing Functionality Vital to Your Business?</h5>
            <p class="card-text">Submit this request to Optum and Adobe to review potential upgrades to Acrobat Sign.
                Please fill in all form fields and provide sufficient details to ensure your request is legitimized by
                our internal IT Team.</p>
            <a target="_blank" href="https://optum.service-now.com/euts_intake?id=euts_sc_cat_item_form&sys_id=dd9a3ade1ba338d0c04a21f2b24bcb6d" class="btn btn-primary">Create a Request</a>
        </div>
    </div>
</div>
{% endblock %}