{% extends "client/templates/public_template.html" %}
<!-- This Jinja syntax extends my html template to this html file  -->

<!-- Site Title -->
{% block title %}eSign Support - Request Access{% endblock %}

<!-- Site Top Nav Bar  -->
{% block nav1 %}<a class="nav-link" href="/open-ticket">Open Ticket</a>{% endblock %}
{% block nav2 %}<a class="nav-link active" href="/request-access">Request Access</a>{% endblock %}
{% block nav3 %}<a class="nav-link" href="/find-admin">Tools</a>{% endblock %}

<!-- Page Breadcrumbs-->
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Request Access</li>
{% endblock %}

<!--Code Specific to this Page-->
{% block main %}

<!--Flask Flash Message 'Access Check Success'-->
{% with messages = get_flashed_messages(category_filter=["access_success"]) %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show mx-3" role="alert">
    <div class="alert-heading align-items-center">
        <h4 style="text-transform: uppercase; position: relative;">{{ message }} Has Access</h4>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <p>The following user <strong>{{ message }}</strong> has access to Adobe Acrobat Sign!</p>
    <hr>
    <p>Login to <a target="_blank" href="https://unitedhg.na3.adobesign.com/account/homeJS">Adobe Acrobat Sign</a>!</p>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!--Flask Flash Message 'Access Check Incomplete'-->
{% with messages = get_flashed_messages(category_filter=["default_group"]) %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show mx-3" role="alert">
    <div class="alert-heading align-items-center">
        <h4 style="text-transform: uppercase; position: relative;">Missing Group Assignment</h4>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <p>The following user <strong>{{ message }}</strong> has access to Adobe Acrobat Sign, but is missing group assignment.
    By default, all accounts created in Acrobat Sign will not have the ability to send. You will need to contact your group 
    admin to add you to an appropriate group with send access.</p>
    <hr>
    <p>Don't know your group admin?... No worries use our <a href="/find-admin">Find My Admin tool</a></p>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!--Flask Flash Message 'Domain Unclaimed'-->
{% with messages = get_flashed_messages(category_filter=["domain_fail"]) %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger alert-dismissible fade show mx-3" role="alert">
    <div class="header">
        <h4 style="text-transform: uppercase; position: relative;">{{ message }} NOT CLAIMED</h4>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <p>The following domain <strong>{{ message }}</strong> is not claimed in UHG's Adobe Console. Users with that domain
        currently do not
        have access to UHG's instance of Adobe Acrobat Sign.</p>
    <hr>
    <p class="mb-0">To speak with the eSignature Support Team about potentially claiming your domain <a target="_blank"
            href="https://atlas.uhg.com/contactLanding/openTicket#">open a ticket</a>.</p>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!--Flask Flash Message 'Not in AD Group'-->
{% with messages = get_flashed_messages(category_filter=["adFail"]) %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show mx-3" role="alert">
    <div class="header">
        <h4 style="text-transform: uppercase; position: relative;">Missing Access Request</h4>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <p>The following user <strong>{{ message }}</strong> is not part of the required security group. Please follow the
        prompts below to request access via Secure.</p>
    <hr class="mb-2">
    <h5>After Submission:</h5>
    <ul>
        <li>Wait for your request to be approved by your manager and the eSignature Support Team.</li>
        <li>Once your request is approved the system will automatically create an account in Adobe Acrobat Sign. This
            automated sync process can take up to three hours.</li>
    </ul>
    <hr class="mb-2">
    <h5>How to Verify:</h5>
    <p>To verify next steps in the request process, submit your email again using this tool. If you get this same
        alert that means one of the following: Your request has not yet been
        approved or may have been denied by your manager, or the automated sync tool is still running (this can take up to 3 hours after your request has been approved).</p>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!--Flask Flash Message 'Not in AD Group'-->
{% with messages = get_flashed_messages(category_filter=["unknown"]) %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger alert-dismissible fade show mx-3" role="alert">
    <div class="header">
        <h4 style="text-transform: uppercase; position: relative;">Unknown Error</h4>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <p>The following user <strong>{{ message }}</strong> is not in Adobe Acrobat Sign although following the correct
        request procedures.</p>
    <hr class="mb-2">
    <p>This error is uncommon but can happen during the request process based on a variety of circumstances. Please <a
            target="_blank" href="https://atlas.uhg.com/contactLanding/openTicket#">open a ticket</a> with the
        eSignature Support Team so they can further troubleshoot the provisioning error.</p>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<!--Secure Request Process-->
<div class="container-fluid px-4 mt-3">
    <div class="row gx-5">
        <div class="col">
            <img class="w-75" src="{{ url_for('static', filename='img/request_access_logo.svg') }}"
                alt="request access visual">
        </div>
        <!--Verify Access Tool-->
        <div class="col">
            <h1>Request Access to Adobe Acrobat Sign</h5>
                <p class="card-text">
                    By submitting this request an Adobe Acrobat Sign account will be created, in UHG's instance, for the following user! 
                </p>
                <!--Verify Email Form-->
                <form action="/request-access" method="POST">
                    <div class="form-group">
                        <!--Flash Message (email validation)-->
                        {% with messages = get_flashed_messages(category_filter=["email"]) %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}

                        <div class="mb-3">
                            <label for="useremail" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="useremail" aria-describedby="emailHelp"
                                name="useremail" spellcheck="false" placeholder="example@domain.com" {{value}}>
                            <div id="emailHelp" class="form-text">Enter your business email address, not your
                                personal
                                email.
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}