{% extends 'client/templates/public_template.html' %} <!-- This Jinja syntax extends my html template to this html file  -->

<!-- Site Title -->
{% block title %}eSign Support - Home{% endblock %}

<!-- Site Top Nav Bar  -->
{% block nav1 %}<a class="nav-link disabled" href="#">Open Ticket</a>{% endblock %}
{% block nav2 %}<a class="nav-link" href="/request-access">Request Access</a>{% endblock %}
{% block nav3 %}<a class="nav-link" href="/find-admin">Tools</a>{% endblock %}

{% block main %}

{% endblock %}